<div id="form_customer">
  <%= form_tag("/search", :method => "post") do %>
    <%= label_tag(:name, "Name") %>
    <%= text_field_tag(:name) %>
    <%= label_tag(:phone_number, "Ph.Number") %>
    <%= text_field_tag(:phone_number) %>
    <%= label_tag(:email, "Email") %>
    <%= email_field_tag(:email) %>
    <%= label_tag(:context, "Contxt") %>
    <%= text_area_tag(:context) %> <br/>
    <%= submit_tag("Submit") %>
  <% end %>
</div>
<style>
  #form_customer{
    border:2px solid #a1a1a1;
    padding-top:10px;
    padding-bottom:10px;
    padding-right:45px;
    padding-left:50px; 
    background:#dddddd;
    width:400px;
    border-radius:30px;
    margin-left:21px;
  }
</style>
