<header class="navbar navbar-inverse" id="mydiv" >
  <div class="navbar-inner">
    <div class="container">
      <div class="row-fluid box">
        <div class="span12"> 
          <div class="span4">
            <h2> <%= link_to "White Horse", '#', id: "logo" %></h2>
          </div>
          <div class="span2"%></div>
          <div class="span4">
            <nav>
              <ul class="nav pull-right diplay">
                <li class="jumper"><%= link_to "Contact",'#contact'  %></li>
                <li class="jumper"><%= link_to "Our Work",'#our_works' %></li>
                <li class="jumper"><%= link_to "Home", '#home' %></li>
                <li class="jumper"><%= link_to "What We Do", '#what_we_do' %></li>
              </ul>	
            </nav>
          </div>  
    </div> 
  </div>
</header>
<script>
  $(window).scroll(function (event) {
    var top = $('.box').offset().top;
    var y = $(this).scrollTop();
    if (y >= 730 ) { $('.box').addClass('fixed');}
    else { $('.box').removeClass('fixed');}
  }); 
</script>
<style>
.boxes {
     position: absolute;
}
.navbar .nav.pull-right{
  padding-left:10px;
}
.fixed {
    position: fixed;
    top: 0px;
    background:#414C48;
    width: 110%;
    margin-left: -22px;

}
.navbar-inverse .navbar-inner{
   background: #414C48;
}
.diplay{
  margin-left: 10px;
}
</style>